/* Page */

.page {

}

.page__body {
    margin: 0;
    color: var(--text--color);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, a {
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 75px 0 20px 0;
}

@media (min-width: 700px) {
    h2 {
        font-size: 64px;
        margin: 80px 0 30px 0;
    }
}

h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin: 40px 0 25px 0;
}

@media (min-width: 700px) {
    h3 {
        font-size: 35px;
    }
}

p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4em;
}

@media (min-width: 700px) {
    p {
        font-size: 20px;
    }
}

@media (min-width: 800px) {
    p {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 26px;
    }
}

/* Collors */

:root {
    --bg-color: #2b2927;
    --aacent-color: #e8Ad25;

    --text--color: #fff;
}

.green {
    background-color: #568a1d;
}

.red {
    background-color: #a92e2e;
}

.blue {
    background-color: #476ac9;
}


/* Header */

.header {
    position: relative;
    height: 100vh;
    box-shadow: inset 0px 0px 200px 75px rgba(0, 0, 0, 0.5);
}

.header__heading {
    padding-top: 50px;
    text-align: center;
    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.35);
}

@media (min-width: 700px) {
    .header__heading {
        text-align: right;
        padding-right: 50px;
    }
}

@media (min-width: 800px) {
    .header__heading {
        text-align: right;
        padding-right: 150px;
    }
}

@media (min-width: 1200px) {
    .header__heading {
        text-align: right;
        padding-right: 250px;
    }
}

.header__heading--title {
    font-family: 'Cormorant', serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.08em;
}

@media (min-width: 700px) {
    .header__heading--title {
        font-size: 75px;
    }
}

.header__heading--subtitle {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.15em;
}

@media (min-width: 700px) {
    .header__heading--subtitle {
        font-size: 24px;
    }
}

.header__heading--subtitle-link {
    text-decoration: none;
    color: var(--text--color);
    border-bottom: 2px solid var(--text--color);
}

.header__background {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    top: 0;
}


/* Nav */

.nav {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

@media (min-width: 700px) {
    .nav {
        bottom: 60px;
        padding: 0 50px;
    }
}

@media (min-width: 800px) {
    .nav {
        padding: 0 150px;
    }
}

@media (min-width: 1200px) {
    .nav {
        padding: 0 250px;
    }
}

.nav__icon {
    height: 54px;
}

@media (min-width: 700px) {
    .nav__icon {
        height: 65px;
    }
}

.nav__link {
    height: 54px;
    width: 220px;
    background-color: var(--aacent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text--color);
    text-decoration: none;
    border-radius: 10px;
}

@media (min-width: 700px) {
    .nav__link {
        height: 65px;
        width: 270px;
    }
}

.nav__link--title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 16px;
}

@media (min-width: 700px) {
    .nav__link--title {
        font-size: 24px;
        font-weight: 600;
        margin-left: 18px;
    }
}

.nav__link--icon {
    height: 28px;
    margin-right: 13px;
}

@media (min-width: 700px) {
    .nav__link--icon {
        height: 45px;
        margin-right: 10px;
    }
}

/* Main */

.main {

}


/* Appart */

.appart {
    padding: 0 15px;
    margin-bottom: 150px;
}

@media (min-width: 700px) {
    .appart {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-column-gap: 25px;
        padding: 0 50px;
    }
}

@media (min-width: 800px) {
    .appart {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-column-gap: 25px;
        padding: 0 150px;
    }
}

@media (min-width: 1200px) {
    .appart {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-column-gap: 25px;
        padding: 0 250px;
    }
}

.appart__desc {

}

@media (min-width: 700px) {
    .appart__desc {
        margin-right: 25px;
        align-self: center;
    }
}

.appart__grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-right: 15px;
}

.appart__grid---image {
    width: 100%;
    border-radius: 15px;
}


/* Blueprint */

.blueprint {
    margin-bottom: 100px;
}

@media (min-width: 700px) {
    .blueprint {
        padding: 0 50px;
    }
}

@media (min-width: 800px) {
    .blueprint {
        padding: 0 150px;
    }
}

@media (min-width: 1200px) {
    .blueprint {
        padding: 0 250px;
    }
}

.blueprint__image {
    width: 100%;
}

@media (min-width: 700px) {
    .blueprint__image {
        border-radius: 25px;
    }
}

.blueprint p {
    padding: 0 15px;
}

@media (min-width: 700px) {
    .blueprint p {
        padding: 0 125px;
    }
}

/* Display */

.display {
    margin: 40px 0 70px 0;
}

.color {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 700px) {
    .color {
        display: flex;
        justify-content: center;
        column-gap: 150px;
    }
}

.color__container {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.color__container--block {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.color__container--note {
    font-weight: 500;
    margin-top: 10px;
}


/* Status */

.status {

}

@media (min-width: 700px) {
    .status {
        display: flex;
        justify-content: center;
        column-gap: 55px;
        flex-wrap: wrap;
    }
}

.status__box {
    margin: 0 auto;
    width: 332px;
    height: 332px;
    background-color: #00000010;
    display: grid;
    grid-template-columns: 64px 64px 64px;
    grid-template-rows: 64px 64px 64px;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

.status__box--buy {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.status__box--number {
    font-size: 20px;
    font-weight: 600;
}

.status__box--cost {
    font-size: 16px;
    font-weight: 500;
}


/* Footer */

.footer {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 700px) {
    .footer {
        padding: 15px 50px;
    }
}

@media (min-width: 800px) {
    .footer {
        padding: 20px 150px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 25px 250px;
    }
}

.footer__logo {

}

.footer__logo--icon {
    height: 45px;
}

@media (min-width: 700px) {
    .footer__logo--icon {
        height: 65px;
    }
}

.footer__notice {
    font-weight: 500;
    font-size: 14px;
    padding: 0 25px;
    text-align: center;
}

@media (min-width: 600px) {
    .footer__notice {
        padding: 0 100px;
        font-size: 22px;
    }
}

@media (min-width: 700px) {
    .footer__notice {
        padding: 0 100px;
        font-size: 26px;
    }
}

.footer__notice--link {
    color: var(--text--color);
    text-decoration: none;
}

.footer__mail {

}

.footer__mail--icon {
    height: 45px;
}

@media (min-width: 700px) {
    .footer__mail--icon {
        height: 65px;
    }
}
